body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8f0; 
    font-family: Arial, sans-serif;
}


.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px; 
    max-width: 90%;
    margin: auto;
   
}

.llogo {
    width: 170px;  
    height: 200px;
    margin-top: 1px;
    margin-bottom: 1px;
}


.login-container h2 {
    color: #4CAF50; 
    margin-bottom: 15px;
    font-size: 25px;
    margin-top: 1px;
}

.lform-group {
    margin-bottom: 12px;
    text-align: left;
    margin-right: 15px;
    
}

.lform-group.drop {
    margin-bottom: 12px;
    text-align: left;
    margin-left: 0;  
}
.lform-group.drop select {
    height: 30px;
   
}

label {
    display: block;
    font-size: 14px; 
    margin-bottom: 3px;
    color: #333;
}

input, select {
    width: 105%;
    padding: 5px; 
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    
}

button {
    width: 100%;
    padding: 100px; 
    font-size: 14px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; 
}
